<!DOCTYPE html>

<html lang="en">
	<link rel="shortcut icon" type="image/png" href="https://i.pinimg.com/originals/19/95/0c/19950c83ac1f0a4ca85819338e5f2a03.png">
	<head>
		<!-- import the webpage's stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/front.css"/>
		<link rel="stylesheet" href="../backend/back.css">
		<link rel="stylesheet" href="../backend/overview.css">

		<!-- import the webpage's client-side javascript file -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<title>⚪ {{NAME}}</title>
	</head>
	<body>
		<div>
			about yourself
		</div>
		<div>
			current works
		</div>
		<div>
			old projects
		</div>
	</body>
</html>