<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
	<link rel="shortcut icon" type="image/png" href="https://i.pinimg.com/originals/19/95/0c/19950c83ac1f0a4ca85819338e5f2a03.png">
	<head>
		<!-- import the webpage's stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/front.css"/>
		<!-- import the webpage's client-side javascript file -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<title>⚪ {{NAME}}</title>
	</head>
	<style style="display: none">
		#old-page {
			height: {{{HEIGHT}}};
		}
	</style>
	<div id="menuSelectorOpen" class="menu-btn"><div class="menu-btn_burger"></div></div>
	<div class="menu-options_color"></div>
	<ul class="menu-options">
		<li><div class="container menu-button" id="about me"><button>about me</button></div></li>
		<li><div class="container menu-button" id="current works"><button>current work</button></div></li>
		<li><div class="container menu-button" id="old projects"><button>old projects</button></div></li>
	</ul>
	<hr class="headline">
	<h1 class="main-header">hi</h1>
	<h1 class="main-header" style="margin-top: 40px; margin-left: 30px">i'm {{NAME}}</h1>
	<body>
		<div class="project-popup">
			<div id="svgContainer">{{#SVG_ROWS}}
				<svg id='svg{{SVG_NAME}}'>{{#ROW_LINES}}
					<path
						id="path{{CHILD_ELEMENT_NAME}}"
						d = "M0 0"
						style="
						stroke: #eb5810;
						fill: none;
						stroke-width: 7px;"/>
					{{/ROW_LINES}}</svg>
					{{/SVG_ROWS}}
				<svg id='svgAboutMeCurrentLocatiuon'>
					<path
						id="pathOffCurrentLocation"
						d = "M0 0"
						style="
						stroke: #eb5810;
						fill: none;
						stroke-width: 7px;"/>
					<path
						id="pathCurrentLocation-Hobbies"
						d = "M0 0"
						style="
						stroke: #eb5810;
						fill: none;
						stroke-width: 7px;"/>
					</svg>
				<svg id='svgAboutMeCurrentLocatiuon'>
					<path
						id="pathOffCurrentLocation"
						d = "M0 0"
						style="
						stroke: #eb5810;
						fill: none;
						stroke-width: 7px;"/>
					<path
						id="pathCurrentLocation-Hobbies"
						d = "M0 0"
						style="
						stroke: #eb5810;
						fill: none;
						stroke-width: 7px;"/>
				</svg>
			</div>
			<div class="project-menu"><div class="project-menu_burger"></div></div>
			<h2 id="project-name"></h2>
			<hr>
			<div id="about-page">
				where am i in life?
				<div class="profile-background">
					<div class="profile-picture">
						<img src="https://st.depositphotos.com/1000350/1663/i/950/depositphotos_16632665-stock-photo-shocked-bald-man-holding-comb.jpg">
						<div class="hex-rect fir"></div>
						<div class="hex-rect sec"></div>
						<div class="hex-rect thi"></div>
						<div class="hex-circ fir"></div>
						<div class="hex-circ sec"></div>
						<div class="hex-circ thi"></div>
						<div class="hex-circ fou"></div>
					</div>
					<ul class="profile-words">{{#PROFILE_WORDS}}
						<li>{{PROFILE_WORD}}</li>
					{{/PROFILE_WORDS}}</ul>
				</div>
				<div id="select-base-land" class="homeland-base">
					<button id="img-location-button-connect" class="homeland-current-location">where am i currently based?</button>
					<div class="homeland-location-img-hold">
						<div id="home-base-nametag">
							<p>{{HOME_BASE_CITY}},</p>
							<p>{{HOME_BASE_STATE_COUNTRY}}</p>
						</div>
						<img class="img-homeland-location" src="{{HOME_BASE_URL}}">
						<div id="img-location-div-connect"></div>
						<div id="home-base-background-info"></div>
					</div>
				</div>
				<div class="about-me-hobbies">
					<button id="hobbies-select-connect">what are some of my hobbies?</button>
					<div class="hobby-station">
						<div class="hobby-station-biking">
							<div class="hide-img-hobby-station-biking"></div>
							<img class="img-hobby-station-biking" src="https://i.ibb.co/5szSTQC/mountain-biking-slice.png">
							<div class="bicycle-container">
								<div class="wheel back-wheel">
									<div class="tire"></div>
									<div class="rim"></div>
									<div class="spokes"></div>
									<div class="spokes"></div>
									<div class="hub"></div>
								</div>
								<div class="wheel front-wheel">
									<div class="tire"></div>
									<div class="rim"></div>
									<div class="spokes"></div>
									<div class="spokes"></div>
									<div class="hub"></div>
								</div>
								<div class="gear">
									<div class="gear-red"></div>
									<div class="tube pedal-tube"></div>
									<div class="pedal"></div>
								</div>
								<div class="tube chain-tube"></div>
								<div class="tube seat-tube-back"></div>
								<div class="tube seat-tube-front"></div>
								<div class="tube seat-tube-post"></div>
								<div class="tube top-tube"></div>
								<div class="tube top-handlebar-tube"></div>
								<div class="tube top-handlebar-tube2"></div>
								<div class="tube down-tube"></div>
								<div class="tube head-tube"></div>
								<div class="tube head-tube-post"></div>
								<div class="tube saddle"></div>
								<div class="tube handlebars"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="current-works-page">
				test current
			</div>
			<div id="old-page">{{{SPIDER_WEB}}}</div>
		</div>
		<script src="/front_page.js"></script>
		<script id="object_values" language="javascript" type="text/javascript">
			let mouse_x, mouse_y;
			let colors = [
				[13, 115, 119],
				[20, 255, 236],
				[158, 52, 0],
				[235, 88, 16]
			];
			let PIXEL_SIZE = 20;
			/* image sort values*/
			let img, array_see_image_button, array_new_image_button, unsort_image = false, check_image_completion = 0, completed_image = false, max_image_complete;
			/* langtons ans variables*/
			let direction_langton_ant;
			let x_langton_ant, y_langton_ant;
			let GRID_SIZE_LANGTON_W, GRID_SIZE_LANGTON_H;
			{{{PULL_NEEDED_VALUES}}}
		</script>
		<script id="current_script" language="javascript" type="text/javascript" src="{{CHOICE_SCRIPT}}"></script>
	</body>
</html>