* { /*make everything nicer*/
	display: block;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-transform: lowercase;
}

body {
  background-color: #212121;
  color: #14ffec;
}

title { /*remove the title from the page*/
	display: none;
}

#object_values {
	display: none;
}

#svgContainer { 
	z-index: 4;
	position:absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	height: calc(100% - 80px);
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

#svgContainer svg {
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.menu-btn {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn_burger {
	width: 30px;
	height: 6px;
	background: #0d7377;
	border-radius: 5px;
	transition: all .5s ease-in-out;
	transform: translateY(15px);
}

.menu-btn_burger::before,
.menu-btn_burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 6px;
	background: #0d7377;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translate(-15px, -10px);
}

.menu-btn_burger::after {
	transform: translate(-15px, 10px);
}

/* animation for hamburger */
.menu-btn.open .menu-btn_burger {
	transform: translateX(10px, 10px);
	background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(-12px, 12px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(-12px, -12px);
}

/*
                _       _          __  __ 
 _ __ ___  __ _| |  ___| |_ _   _ / _|/ _|
| '__/ _ \/ _` | | / __| __| | | | |_| |_ 
| | |  __/ (_| | | \__ \ |_| |_| |  _|  _|
|_|  \___|\__,_|_| |___/\__|\__,_|_| |_|                                         
*/

.headline {
	margin-top: 40px;
}

h1 { /*make h1's all caps*/
	position: absolute;
	top: 50%;
	margin-left: 5px;
	/*margin-top: 5px;*/
	font-size: 40px;
	word-spacing: 10px;
	transition: all 3s ease-in-out;
	z-index: 2;
}
/*
span {
	text-transform: lowercase;
	color: ;
}*/

/*h1:hover {
	transition: all 3s ease-in-out;
	text-decoration: overline;
}
*/
.menu-options {
	position: absolute;
	top: 5px;
	left: 40px;
	width: 91%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: -2;
	transition: all 0.5s ease-in-out;
}

.menu-options_color {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	z-index: -3;
	transition: all 3s ease-in-out;
}

.menu-options_color.color {
	background-color: #323232;
}

.menu-options li {
	display: inline;
}

.menu-options button {
	display: none;
}

.menu-options.open button {
	background-color: #323232;
	max-width: 120px;
	height: 30px;
	display: inline;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 15px;
	outline: none;
	border: none;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	color: #0d7377;
	z-index: 1;
}

.menu-options.open button:hover, .project-web-open-child:hover, .project-web-open-child.open {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #14ffec;
}

.project-popup {
	z-index: 3;
	border-radius: 2px;
	background-color: #323232;
	position: absolute;
	left: 5%;
	top: 15%;
	opacity: 0.7;
	width: 90%;
	height: 70%;
	border-style: ridge;
	border-color: white;
}

.project-popup h2 {
	margin-top: 25px;
	letter-spacing: 5px;
	color: #eb5810;
}

.project-popup hr {
	margin-top: 25px;
}

.project-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.project-menu_burger {
	width: 30px;
	height: 6px;
	opacity: 1;
	background: #14ffec;
	border-radius: 5px;
	transition: all .5s ease-in-out;
	transform: translateY(15px);
}

.project-menu_burger::before,
.project-menu_burger::after {
	opacity: 1;
	content: '';
	position: absolute;
	width: 30px;
	height: 6px;
	background: #14ffec;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.project-menu .project-menu_burger {
	background: transparent;
}

.project-menu .project-menu_burger::before {
	transform: rotate(45deg) translate(15px, 15px);
}

.project-menu .project-menu_burger::after {
	transform: rotate(-45deg) translate(-15px, 15px);
}

.profile-background {
	position: absolute;
	border-radius: 20px;
	top: 85px;
	left: 0px;
	width: 110px;
	height: 70%;
	background-color: #323232;
}

.profile-words {
	position: relative;
	top: 100px;
	list-style-type: disc;
}

.profile-picture {
	position: absolute;
	top: 10px;
	left: -15px;
}

.profile-picture img {
	width: 99px;
	max-height: 180px;
	min-height: 100px;
	margin-left: 20px;
}

#about-page {
	margin-bottom: 5px;
}

:root {
	--color-rect: #323232;
	--color-circ: #323232;
}

.hex-rect {
	position: absolute;
	background-color: var(--color-rect);
	margin-left: 20px;
	width: 10px;
	height: 100px;
	top: 0px;
}

.hex-rect.fir {
	width: 15px;
	/*transform: rotate(45deg);*/
}

.hex-rect.sec {
	left: 10px;
	top: 75px;
	width: 80px;
	transform: rotate(90deg);
}

.hex-rect.thi {
	width: 15px;
	/*transform: rotate(45deg);*/
	transform: translate(85.2px);
}

.hex-circ {
	position: absolute;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	top: -5px;
}

.hex-circ.fir {
	border-left: 60px solid var(--color-circ);
	border-bottom: 30px solid transparent;
}

.hex-circ.sec {
	left: 40px;
	border-right: 60px solid var(--color-circ);
	border-bottom: 30px solid transparent;
}

.hex-circ.thi {
	top: 60px;
	border-left: 60px solid var(--color-circ);
	border-top: 30px solid transparent;
}

.hex-circ.fou {
	left: 40px;
	top: 60px;
	border-right: 60px solid var(--color-circ);
	border-top: 30px solid transparent;
}

#old-page {
	position: absolute;
	width: 100%;
	height: 273px;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	justify-content: space-around;
}

.old-project-web {
	z-index: 100;
	margin-top: 20px;
	height: 50px;
}

.old-project-web button {
	background-color: #323232;
	min-height: 30px;
	display: inline;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 15px;
	outline: none;
	border: none;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	color: #0d7377;
	z-index: 100;
}

.project-web-open-child.current-background {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #33F27C;
}

.old-project-web.current-background:hover, .project-web-open-child.option-background:hover {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #33F27C;
}

.children-project-web {
	z-index: 100;
	display: none;
	transition: 1s ease-in-out;
}

.children-project-web.open {
	position: absolute;
	left: 0px;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	transition: 2s ease-in-out;
}

@media only screen and (max-width: 400px) {
	.profile-background {
		margin-top: 20px;
		width: 105px;
		height: 65%;
		margin-right: 50%;
		margin-left: 50%;
		transform: translate(-50%);
	}

  	.profile-picture {
  		margin-left: 50%;
  		transform: translate(-35%);
  	}

  	.profile-picture img {
  		margin-left: 0px;
  	}

  	.hex-rect {
  		margin-left: calc(50% - 50px);
  		margin-right: 100%;
  		transform: translate(-50%);
  	}

  	.hex-rect.fir {
  		left: 7px;
  	}

  	.hex-circ {
  		margin-left: calc(50% - 50px);
 	}
}