* { /*make everything nicer*/
	display: block;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-transform: uppercase;
	overflow-wrap: break-word;
}

html {
	overflow: hidden;
}

body {
  background-color: #212121;
  color: #14ffec;
}

title { /*remove the title from the page*/
	display: none;
}

#object_values {
	display: none;
}

#svgContainer, #svgContainer2 { 
	z-index: 4;
	position:absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	height: calc(100% - 80px);
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

#svgContainer svg, #svgContainer2 svg {
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.menu-btn {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn_burger {
	width: 30px;
	height: 6px;
	background: #0d7377;
	border-radius: 5px;
	transition: all .5s ease-in-out;
	transform: translateY(15px);
}

.menu-btn_burger::before,
.menu-btn_burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 6px;
	background: #0d7377;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translate(-15px, -10px);
}

.menu-btn_burger::after {
	transform: translate(-15px, 10px);
}

/* animation for hamburger */
.menu-btn.open .menu-btn_burger {
	transform: translateX(10px, 10px);
	background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(-12px, 12px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(-12px, -12px);
}

/*
                _       _          __  __ 
 _ __ ___  __ _| |  ___| |_ _   _ / _|/ _|
| '__/ _ \/ _` | | / __| __| | | | |_| |_ 
| | |  __/ (_| | | \__ \ |_| |_| |  _|  _|
|_|  \___|\__,_|_| |___/\__|\__,_|_| |_|                                         
*/

.headline {
	margin-top: 40px;
}

h1 { /*make h1's all caps*/
	position: absolute;
	top: 50%;
	margin-left: 5px;
	/*margin-top: 5px;*/
	font-size: 40px;
	word-spacing: 10px;
	transition: all 3s ease-in-out;
	z-index: 2;
}
/*
span {
	text-transform: lowercase;
	color: ;
}*/

/*h1:hover {
	transition: all 3s ease-in-out;
	text-decoration: overline;
}
*/
.menu-options {
	position: absolute;
	top: 5px;
	left: 40px;
	width: 91%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: -2;
	transition: all 0.5s ease-in-out;
}

.menu-options_color {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	z-index: -3;
	transition: all 3s ease-in-out;
}

.menu-options_color.color {
	background-color: #323232;
}

.menu-options li {
	display: inline;
}

.menu-options button {
	display: none;
}

.menu-options.open button, .submission {
	background-color: #323232;
	height: 30px;
	display: inline;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 15px;
	outline: none;
	border: none;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	color: #0d7377;
	z-index: 1;
}

.menu-options.open button:hover, .project-web-open-child:hover, .project-web-open-child.open, .submission:hover {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #14ffec;
}

.project-popup {
	z-index: 3;
	border-radius: 2px;
	background-color: #323232;
	position: absolute;
	left: 5%;
	top: 15%;
	opacity: 0.7;
	width: 90%;
	height: 70%;
	border-style: ridge;
	border-color: white;
}

.project-popup h2 {
	margin-top: 25px;
	letter-spacing: 5px;
	color: #eb5810;
}

.project-popup hr {
	margin-top: 25px;
}

.project-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.project-menu_burger {
	width: 30px;
	height: 6px;
	opacity: 1;
	background: #14ffec;
	border-radius: 5px;
	transition: all .5s ease-in-out;
	transform: translateY(15px);
}

.project-menu_burger::before,
.project-menu_burger::after {
	opacity: 1;
	content: '';
	position: absolute;
	width: 30px;
	height: 6px;
	background: #14ffec;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.project-menu .project-menu_burger {
	background: transparent;
}

.project-menu .project-menu_burger::before {
	transform: rotate(45deg) translate(15px, 15px);
}

.project-menu .project-menu_burger::after {
	transform: rotate(-45deg) translate(-15px, 15px);
}

.profile-background {
	position: absolute;
	border-radius: 20px;
	top: 85px;
	left: 0px;
	width: 110px;
	height: 70%;
	background-color: #323232;
}

.profile-words {
	position: relative;
	top: 100px;
	list-style-type: disc;
	margin-left: 10px;
}

.profile-words > li {
	text-align: left;
	margin-top: 2px;
}

.profile-picture {
	position: absolute;
	top: 10px;
	left: -15px;
}

.profile-picture img {
	width: 99px;
	max-height: 180px;
	min-height: 100px;
	margin-left: 20px;
}

#about-page {
	position: relative;
	margin-bottom: 5px;
	overflow-y: scroll;
	height: calc(100% - 85px);
}

:root {
	--color-rect: #323232;
	--color-circ: #323232;
	--orange-color: #a53d0b;
}

.hex-rect {
	position: absolute;
	background-color: var(--color-rect);
	margin-left: 20px;
	width: 10px;
	height: 100px;
	top: 0px;
}

.hex-rect.fir {
	width: 15px;
	/*transform: rotate(45deg);*/
}

.hex-rect.sec {
	left: 10px;
	top: 75px;
	width: 80px;
	transform: rotate(90deg);
}

.hex-rect.thi {
	width: 15px;
	/*transform: rotate(45deg);*/
	transform: translate(85.2px);
}

.hex-circ {
	position: absolute;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	top: -5px;
}

.hex-circ.fir {
	border-left: 60px solid var(--color-circ);
	border-bottom: 30px solid transparent;
}

.hex-circ.sec {
	left: 40px;
	border-right: 60px solid var(--color-circ);
	border-bottom: 30px solid transparent;
}

.hex-circ.thi {
	top: 60px;
	border-left: 60px solid var(--color-circ);
	border-top: 30px solid transparent;
}

.hex-circ.fou {
	left: 40px;
	top: 60px;
	border-right: 60px solid var(--color-circ);
	border-top: 30px solid transparent;
}

#old-page {
	position: absolute;
	width: 100%;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	justify-content: space-around;
}

.old-project-web {
	z-index: 100;
	margin-top: 20px;
	height: 50px;
}

.old-project-web button {
	background-color: #323232;
	min-height: 30px;
	display: inline;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 15px;
	outline: none;
	border: none;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	color: #0d7377;
	z-index: 100;
}

.project-web-open-child.current-background {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #33F27C;
}

.old-project-web.current-background:hover, .project-web-open-child.option-background:hover {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #33F27C;
}

.children-project-web {
	z-index: 100;
	display: none;
	transition: 1s ease-in-out;
}

.children-project-web.open {
	position: absolute;
	left: 0px;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	transition: 2s ease-in-out;
}

.p5-buttons.old-project-web, .homeland-current-location, #hobbies-select-connect {
	background-color: #323232;
	min-height: 30px;
	display: inline;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 15px;
	outline: none;
	border: none;
	position: relative;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	color: #0d7377;
	z-index: 4;
}

.p5-buttons.old-project-web {
	z-index: 1 !important;
}

#hobbies-select-connect {
	right: 10px;
	margin: 0;
	padding-right: 10px;
	border: 2px solid #14ffec;
	margin-bottom: 3px;
}

.p5-buttons.old-project-web:hover, .homeland-current-location:hover, #hobbies-select-connect:hover {
	cursor: pointer;
	font-weight: bold;
	color: #323232;
	background-color: #14ffec;
}

.homeland-current-location {
	z-index: 100;
}

.homeland-current-location.open, #hobbies-select-connect.open {
	color: #323232;
	background-color: #14ffec;
}

.homeland-base {
	margin-top: 10px;
	width: 80%;
	margin-right: 0px;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.img-homeland-location {
	margin-top: 5px;
	z-index: 3;
	width: 60%;
	max-height: 0;
	opacity: 0;
	transition: opacity 1.5s ease-out;
}

.img-homeland-location.open {
	width: 60%;
	max-height: 800px;
	opacity: 100%;
	transition: opacity 1.5s ease-out;
}

#img-location-div-connect {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: red;
}

#home-base-nametag, #home-base-nametag-base {
	position: relative;
	opacity: 0;
	max-height: 0;
	font-size: 20px;
	transition: opacity 0.5s ease-out;
	z-index: 5;
}

#home-base-nametag.height, #home-base-nametag-base.height {
	max-height: 100%;
}

#home-base-nametag.open, #home-base-nametag-base.open {
	opacity: 100%;
}

#home-base-nametag > p:first-child, #home-base-nametag-base > p:first-child {
	display: inline;
}

#home-base-nametag > p:last-child, #home-base-nametag-base > p:last-child {
	color: #a43d0b;
	font-weight: bolder;
	display: inline;
}

#home-base-background-info {
	position: relative;
	z-index: 5;
}

.homeland-current-location {
	position: relative;
	margin-left: 0;
}

.profile-background {
	z-index: 10;
}

.about-me-hobbies {
	width: 80%;
	margin: 0;
	margin-left: 20%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.hobby-station {
	position: relative;
	min-width: 300px;
	margin-left: -20%;
}

.hobby-station.remove {
	display: none;
}

.hobby-station-biking {
	height: 0;
	transition: all 1.5s ease;
}

.hobby-station-biking.open {
	height: 100%;
}

.hide-img-hobby-station-biking {
	position: absolute;
	background-color: #323232;
}

.img-hobby-station-biking {
	height: 0;
	transition: all 2.5s ease-out;
}

.img-hobby-station-biking.move-up {
	margin-top: 0 !important;
	height: 100% !important;
}

/*
 _     _ _                      _                 _   _             
| |__ (_) | _____    __ _ _ __ (_)_ __ ___   __ _| |_(_) ___  _ __  
| '_ \| | |/ / _ \  / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \ 
| |_) | |   <  __/ | (_| | | | | | | | | | | (_| | |_| | (_) | | | |
|_.__/|_|_|\_\___|  \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|
                                                                    
cred: Code Cary;
*/

.bicycle-container {
	position: relative;
	left: 0;
	max-width: 350px;
	width: 350px;
	height: 300px;
	overflow: hidden;
	transform: scale(0.2);
}

.bicycle-container .wheel {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 120px;
	height: 120px;
	box-shadow: 0 10px 15px -12px rgba(0, 0, 0, .3);
}

.bicycle-container .wheel .tire {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	border: 10px solid #151515;
	z-index: 2;
}

.bicycle-container .wheel .rim {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 114px;
	height: 114px;
	border-radius: 50%;
	border: 10px solid var(--orange-color);
	z-index: 1;
}

.bicycle-container .wheel .spokes {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid var(--orange-color);
	z-index: 1;
	animation: rt 2s infinite linear;
	background: rgba(200, 100, 100, .1);
}

.bicycle-container .wheel .spokes:nth-of-type(3) {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid var(--orange-color);
}

.bicycle-container .wheel .hub {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--orange-color);
}

.bicycle-container .back-wheel {
	left: 0;
}

.bicycle-container .front-wheel {
	right: 0;
}

.bicycle-container .gear {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: calc(120px + 39.6px);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #151515;
	z-index: 4;
	animation: rt 3s infinite linear;
}

.bicycle-container .gear .gear-red {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid var(--orange-color);
}

.bicycle-container .gear .pedal-tube {
	position: absolute;
	margin: auto;
	top: -30px;
	right: 0;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg);
	width: 20px;
}

.bicycle-container .gear .pedal {
	position: absolute;
	margin: auto;
	top: -50px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 5px;
	background: var(--orange-color);
	border-radius: 5px;
	z-index: 3;
}

.bicycle-container .tube {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 5px;
	border-radius: 5px;
	background: #151515;
	z-index: 3;
}

.bicycle-container .chain-tube {
	left: calc(120px * 0.5);
	width: 120px;
}

.bicycle-container .seat-tube-back {
	left: calc(120px * 0.5);
	transform-origin: left;
	transform: rotate(-60deg);
	width: 120px;
}

.bicycle-container .seat-tube-front {
	left: calc(120px * 0.5);
	transform-origin: right;
	transform: rotate(60deg);
	width: 120px;
}

.bicycle-container .seat-tube-post {
	left: calc((120px * 0.5) - 20px);
	transform-origin: right;
	transform: rotate(60deg);
	background: var(--orange-color);
	z-index: 1;
	height: calc(5px -1px);
	width: 140px;
}

.bicycle-container .top-tube {
	left: 120px;
	bottom: initial;
	top: 44px;
	width: 113px;
}

.bicycle-container .top-handlebar-tube {
	right: 112px;
	bottom: initial;
	top: 25px;
	width: 20px;
	background: var(--orange-color);
}

.bicycle-container .top-handlebar-tube2 {
	right: 90px;
	bottom: initial;
	top: 25px;
	width: 25px;
	background: #151515;
	border-radius: 0%;
}

.bicycle-container .down-tube {
	left: calc(120px + 60px);
	width: 100px;
	transform-origin: left;
	transform: rotate(-50deg);
}

.bicycle-container .head-tube {
	right: calc(120px * 0.5);
	transform-origin: right;
	transform: rotate(60deg);
	width: 140px;
	background: var(--orange-color);
	z-index: 1;
	height: calc(5px -1px);
}

.bicycle-container .saddle {
	position: absolute;
	margin: auto;
	top: 20px;
	left: 85px;
	width: 50px;
	height: 10px;
	border-top-left-radius: 50%;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 50%;
	background: #151515;
	z-index: 2;
}

.bicycle-container .handlebars {
	position: absolute;
	margin: auto;
	top: 25px;
	right: calc(100px * 0.5 + 25px);
	width: 30px;
	height: 30px;
	border-top-right-radius: 60%;
	border-bottom-right-radius: 50%;
	border-top: 5px solid #151515;
	border-right: 5px solid #151515;
	border-bottom: 5px solid var(--orange-color);
	z-index: 2;
}

@keyframes rt {
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 550px) {
	.profile-background {
		top: 0px !important;
		height: auto;
		position: relative !important;
		margin-bottom: 10px;
	}

	.profile-words {
		margin-left: 2px;
		top: 0px !important;
	}

	.profile-words > li {
		text-align: center;
	}

  	.profile-picture {
  		position: relative !important;
  		top: 0;
  		left: 0;
  	}

  	.profile-picture img {
  		margin-left: 5px;
  	}

  	.hex-rect {
  		margin-left: calc(50% - 50px);
  		margin-right: 100%;
  		transform: translate(-50%);
  	}

  	.hex-rect.fir {
  		left: 7px;
  	}

  	.hex-circ {
  		margin-left: calc(50% - 50px);
 	}

 	.homeland-base {
 		margin-right: auto !important;
 	}
}